src/test/resources/mule-auditing-module-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:mule-auditing-module="http://www.mulesoft.org/schema/mule/mule-auditing-module"
      xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/mule-auditing-module http://www.mulesoft.org/schema/mule/mule-auditing-module/1.0/mule-mule-auditing-module.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd" version="EE-3.6.2">
   	
    <vm:connector name="vmConnector" validateConnections="true" doc:name="VM"/>

    <mule-auditing-module:config name="MuleAuditingModule" dispatchEndpoint="vm://test-endpoint" doc:name="MuleAuditingModule"/>
    
    <mule-auditing-module:config name="MuleAuditingModuleTid" dispatchEndpoint="vm://test-endpoint-tid" transactionIdExpression="#[message.inboundProperties['transactionId']]" doc:name="MuleAuditingModule"/>
	
    <flow name="testCustomEvent">
        <mule-auditing-module:audit config-ref="MuleAuditingModule" doc:name="MuleAuditingModule">
        	<mule-auditing-module:values>
                <mule-auditing-module:value key="test">#[payload]</mule-auditing-module:value>
        	</mule-auditing-module:values>
        </mule-auditing-module:audit>
    </flow>
    
    <flow name="testCustomTransactionId">
        <mule-auditing-module:audit config-ref="MuleAuditingModuleTid" doc:name="MuleAuditingModule">
        	<mule-auditing-module:values>
                <mule-auditing-module:value key="test">#[payload]</mule-auditing-module:value>
        	</mule-auditing-module:values>
        </mule-auditing-module:audit>
    </flow>
    
    <flow name="testExceptionFlow" processingStrategy="synchronous">
    	<message-filter throwOnUnaccepted="true" doc:name="Message">
    		<expression-filter expression="#[false]" />
    	</message-filter>
    	<catch-exception-strategy doc:name="Catch Exception Strategy">
    		<logger level="ERROR" message="Everything is fine!" doc:name="Logger"/>
    	</catch-exception-strategy>
    </flow>
    
    
    <flow name="testInboundEndpointNotification">
    	<http:inbound-endpoint address="http://localhost:9099/test" />
    	<logger level="INFO" message="inboundNotification!" />
    </flow>
    
</mule>
